@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html {
  --couleur1: rgb(27, 25, 25);
  --couleur2: white;
  --couleurhover: #c48a0d;
}

p {
  text-align: justify;
  margin-top: -80px;
}

/*corps*/
body {
  padding: 0px;
  margin: 0;
  background-image: url(images/fd.jpg);
  background-size: cover;
  font-family: "Libre Baskerville", serif;
}
/*navigation*/
nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  color: var(--couleur2);
  background: var(--couleur1);
  z-index: 10;
  height: 125px;
}

nav .wrappernav {
  display: flex;
  justify-content: space-between;
}

.slogan {
  font-family: "Indie Flower", cursive;
  letter-spacing: 4px;
  font-size: 1.5em;
  margin-right: 160px;
  width: 240px;
}

.wrappernav {
  display: block;
}

.lienspages {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 41px;
  color: var(--couleur2);
  margin-right: 118px;
  font-family: "Indie Flower", cursive;
  transition-duration: 1s;
}

.lienspages:hover {
  text-decoration: underline wavy var(--couleurhover);
}

.logo {
  cursor: pointer;
  margin-left: 20px;
  filter: drop-shadow(16px 8px 18px #000);
}

.logslog {
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 0;
}

.burger {
  display: none;
}

/*corps de page*/

section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.wrappernews {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  padding-bottom: 50px;
}

.titresjournaux {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--couleur1) double 6px;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

.daily {
  font-size: 4em;
  letter-spacing: 5px;
  margin-right: 40px;
  font-weight: bolder;
}

.ile {
  font-size: 2.5em;
  margin-bottom: -15px;
  word-spacing: 4px;
  text-align: center;
}

h3 {
  font-weight: lighter;
  margin-right: 40px;
}

input {
  border: none;
  background: none;
  font-size: 1em;
  font-family: "Libre Baskerville", serif;
}

input:focus {
  display: none;
}

.photojournal {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.logo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logonews {
  height: 100px;
  width: 100px;
}
.grostitres {
  filter: grayscale(85%);
  -webkit-filter: grayscale(85%);
  -moz-filter: grayscale(85%);
  -ms-filter: grayscale(85%);
  -o-filter: grayscale(85%);
  height: 500px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.grostitres:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.une {
  text-align: center;
  border: var(--couleur1) 6px double;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
}

.article1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 60px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  line-height: 2;
}

.volcan1 {
  grid-area: 1 / 2 / 3 / 3;
  filter: grayscale(85%);
  -webkit-filter: grayscale(85%);
  -moz-filter: grayscale(85%);
  -ms-filter: grayscale(85%);
  -o-filter: grayscale(85%);
}

.volcan1:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
.spectacle {
  grid-area: 1 / 1 / 3 / 2;
}
.ecrits {
  grid-area: 2 / 1 / 3 / 2;
}

.article2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 60px;
  grid-template-areas:
    "petrel1 spectacle2"
    "petrel1 ecrits2";
  line-height: 2;
  margin-left: 0px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.petrel1 {
  grid-area: petrel1;
  filter: grayscale(85%);
  -webkit-filter: grayscale(85%);
  -moz-filter: grayscale(85%);
  -ms-filter: grayscale(85%);
  -o-filter: grayscale(85%);
  margin-left: 150px;
}

.petrel1:hover {
  grid-area: petrel1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.spectacle2 {
  grid-area: spectacle2;
  margin-bottom: 40px;
}
.ecrits2 {
  grid-area: ecrits2;
}

/*footer*/

footer {
  background-color: var(--couleur1);
  bottom: 0;
  width: 100%;
  height: 120px;
  display: block;
  color: var(--couleur2);
  position: fixed;
}

.wrapperfoot {
  display: flex;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  margin-left: 40px;
  opacity: 0.5;
}

li {
  list-style: square;
  line-height: 1.9;
  font-size: 12px;
  opacity: 0.5;
}

li:hover {
  opacity: 1;
}

.reseau {
  position: absolute;
  top: -20px;
  right: 120px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 2.4;
  margin-right: 40px;
}

.reseausociaux {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  width: 20px;
}

.reseausociaux:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.mail {
  text-decoration: none;
  color: var(--couleur2);
}

.mail:hover {
  text-decoration: none;
  color: var(--couleur2);
  text-decoration: underline wavy var(--couleurhover);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /*iphone 5/SE*/
  .burger {
    display: flex;
    margin-right: 20px;
    margin-left: -20px;
  }

  .lienspages {
    display: none;
  }

  nav {
    padding-right: 0px;
    display: flex;
  }

  .daily,
  .ile,
  .logo2{
    display: none;
  }

  .wrappernews {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .photojournal{
    width: 100%;
    height: 50%;

  }

  .article1,
  .article2{
    display: flex;
    padding: 0;
    margin: 20px;
  }

  .grostitres,
  .volcan1,
  .petrel1,
  h2{
    display: none;
  }

  p{
    padding: 0;
    margin: 0;
  }

  body {
    background-image: none;
  }

  .logo {
    cursor: pointer;
    margin-left: 20px;
    filter: drop-shadow(16px 8px 18px #000);
    width: 50px;
    height: 50px;
  }

  .slogan {
    font-family: "Indie Flower", cursive;
    letter-spacing: 3px;
    font-size: 1em;
    margin-right: 160px;
    width: 100px;
  }

  .logslog {
    margin-left: 20px;
    line-height: 0;
  }

  footer {
    padding-right: 260px;
    height: 80px;
  }
  .ecrits,
  .ecrits2{
    width: 200%;
    margin: 0;
    padding: 0;
  }
  .reseau {
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    position: initial;
    margin-top: -15px;
  }

  .reseausociaux {
    margin-right: 20px;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    width: 50px;
  }

  h4 {
    display: none;
  }

  li {
    display: none;
  }
}
