@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html {
  --couleur1: rgb(27, 25, 25);
  --couleur2: white;
  --couleurhover: #c48a0d;
}

/*corps*/
body {
  padding: 0px;
  margin: 0;
  background-image: url(images/fd.jpg);
  background-size: cover;
  font-family: "Libre Baskerville", serif;
}

/*navigation*/
nav {
  display: flex;
  align-items: center;
  position: fixed;
 width: 100%;
  color: var(--couleur2);
  background: var(--couleur1);
  z-index: 10;
}

nav .wrappernav{
  display: flex;
  justify-content: space-between;
}

.slogan {
  font-family: "Indie Flower", cursive;
  letter-spacing: 4px;
  font-size: 2em;
  margin-right: 160px;
  width: 240px;
}

.wrappernav {
  display: block;
}

.lienspages {
  text-decoration: none;
  font-size: 2em;
  line-height: 41px;
  color: var(--couleur2);
  margin-right: 118px;
  font-family: "Indie Flower", cursive;
  transition-duration: 1s;
}

.lienspages:hover {
  text-decoration: underline wavy var(--couleurhover);
}

.logo {
  cursor: pointer;
  margin-left: 20px;
  filter: drop-shadow(16px 8px 18px #000);
}

.logslog {
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 0;
}

.burger {
  display: none;
}
/*corps*/

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 5em;
  color: var(--couleur2);
}

/*footer*/

footer {
  background-color: var(--couleur1);
  bottom: 0;
  width: 100%;
  height: 156px;
  display: block;
  color: var(--couleur2);
  position: fixed;
  margin-top: 40px;
}

.wrapperfoot {
  display: flex;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  margin-left: 40px;
  opacity: 0.5;
}

li {
  list-style: square;
  line-height: 1.9;
  font-size: 12px;
  opacity: 0.5;
}

li:hover {
  opacity: 1;
}

.reseau {
  position: absolute;
  top: -10px;
  right: 120px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 2.4;
  margin-right: 40px;
}

.reseausociaux {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.reseausociaux:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.mail {
  text-decoration: none;
  color: var(--couleur2);
}

.mail:hover {
  text-decoration: none;
  color: var(--couleur2);
  text-decoration: underline wavy var(--couleurhover);
}

/*pc portable*/
@media only screen and (max-width: 1639px) {
  .lienspages {
    font-size: 1em;
  }
}

/*ipadpro*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /*corps de page*/

  body {
    padding: 0;
    margin: 0;
    background-image: url(images/fdresp.jpg);
    background-repeat: no-repeat;
    background-position-y: 450px;
    background-color: var(--couleur1);
  }

  h1 {
    font-family: "Indie Flower", cursive;
    color: var(--couleur2);
    font-size: 3.12em;
    padding-bottom: 400px;
  }

  nav {
    padding-right: 0;
    padding-top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
  }

  .logslog {
    padding: 0;
    margin: 0;
    width: 90%;
    position: relative;
    left: 60px;
    top: 250px;
  }

  .lienspages {
    display: none;
  }

  .burger {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
  }
  
  /*footer*/
  .reseau {
    top: 0px;
    right: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 2.4;
    margin-right: 0px;
  }

  /*footer*/

  footer {
    height: 200px;
  }

  .reseau {
    flex-direction: row;
    align-items: center;
  }

  .reseausociaux {
    width: 75px;
    margin-right: 200px;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
  }

  h4 {
    display: none;
  }

  li {
    display: none;
  }
}

/*iphone*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /*toutes les pages*/

  body {
    background-image: none;
  }

  .lienspages{
    display: none;
  }

  h1{
    color: var(--couleur1);
  }

  .logo {
    cursor: pointer;
    margin-left: 60px;
    filter: drop-shadow(16px 8px 18px #000);
    width: 50px;
    height: 50px;
  }

  .slogan {
    font-family: "Indie Flower", cursive;
    letter-spacing: 3px;
    font-size: 1em;
    margin-right: 160px;
    width: 100px;
  }

  .logslog {
    margin-left: 20px;
    line-height: 0;
  }

  footer {
    height: 100px;
  }

  .reseau {
    flex-direction: row;
    align-items: center;
  }

  .reseausociaux {
    width: 50px;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    margin-right: 40px;
  }

  h4 {
    display: none;
  }

  li {
    display: none;
  }
}
